<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block page_title %}Raluca-Maria Sandu{% endblock %}</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <button class="button is-primary">Raluca-Maria Sandu</button>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('blogList') }}">Blog</a>
                <a class="navbar-item" href="{{ url_for('render_page', page_name='publications') }}">Publications</a>
                <a class="navbar-item" href="{{ url_for('render_page', page_name='resume') }}">Resume</a>
            </div>
        </div>
        </div>
    </nav>

    <main>
        {% block main %}
        <!-- Main content will be injected here -->
        {% endblock %}
    </main>




    <footer class="footer">
    {% include 'partials/_footer.jinja' %}
    </footer>

    <script src="{{ url_for('static', filename='js/bulma.js') }}"></script>
</body>

</html>