<div class="content has-text-centered">

    <div class="block">
        <a href="mailto:raluca@rmsandu.net" title="Email me">
            <button class="button">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <span>Email</span>
            </button>
        </a>

        <a href="https://linkedin.com/in/rmsandu" title="LinkedIn">
            <button class="button">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span>LinkedIn</span>
            </button>
        </a>

        <a href="https://github.com/rmsandu" title="GitHub">
            <button class="button">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </button>
        </a>

        <a href="https://scholar.google.com/citations?user=5qskcz0AAAAJ" title="Google Scholar">
            <button class="button">
                <span class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </span>
                <span>Google Scholar</span>
            </button>
        </a>
    </div>



    <div class="block">
        Raluca-Maria Sandu
        &nbsp;•&nbsp;

        2024
        &nbsp;•&nbsp;
        <span class="author-site">
            <a href="https://rmsandu.net/">rmsandu.net</a>
        </span>
    </div>
</div>